//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.03Beta
//Part Number: GW1N-UV4LQ144C6/I5
//Device: GW1N-4B
//Created Time: Fri 07 23 19:59:06 2021

IO_LOC "seg_dig[3]" 7;
IO_PORT "seg_dig[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "seg_dig[2]" 141;
IO_PORT "seg_dig[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "seg_dig[1]" 140;
IO_PORT "seg_dig[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "seg_dig[0]" 137;
IO_PORT "seg_dig[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "seg[7]" 10;
IO_PORT "seg[7]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[6]" 8;
IO_PORT "seg[6]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[5]" 139;
IO_PORT "seg[5]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[4]" 12;
IO_PORT "seg[4]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[3]" 11;
IO_PORT "seg[3]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[2]" 9;
IO_PORT "seg[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[1]" 142;
IO_PORT "seg[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "seg[0]" 138;
IO_PORT "seg[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[7]" 23;
IO_PORT "led[7]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[6]" 24;
IO_PORT "led[6]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[5]" 25;
IO_PORT "led[5]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[4]" 26;
IO_PORT "led[4]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[3]" 27;
IO_PORT "led[3]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[2]" 28;
IO_PORT "led[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[1]" 29;
IO_PORT "led[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "led[0]" 30;
IO_PORT "led[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "bz" 118;
IO_PORT "bz" PULL_MODE=NONE DRIVE=8;
IO_LOC "in[3]" 80;
IO_PORT "in[3]" PULL_MODE=NONE;
IO_LOC "in[2]" 81;
IO_PORT "in[2]" PULL_MODE=NONE;
IO_LOC "in[1]" 82;
IO_PORT "in[1]" PULL_MODE=NONE;
IO_LOC "in[0]" 83;
IO_PORT "in[0]" PULL_MODE=NONE;
IO_LOC "clk_btn" 65;
IO_PORT "clk_btn" PULL_MODE=UP;
IO_LOC "clk_sel[1]" 75;
IO_PORT "clk_sel[1]" PULL_MODE=NONE;
IO_LOC "clk_sel[0]" 76;
IO_PORT "clk_sel[0]" PULL_MODE=NONE;
IO_LOC "nrst" 58;
IO_PORT "nrst" PULL_MODE=UP;
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=NONE;
